name: "Build main"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-main:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    environment: cachix
    steps:
    - uses: actions/checkout@v2
      with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0
    - name: install nix
      uses: cachix/install-nix-action@v12
      with:
        install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20201221_9fab14a/install
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: setup cachix
      uses: cachix/cachix-action@v8
      with:
        # Name of a cachix cache to push and pull/substitute
        name: marcus7070
        # Signing key secret retrieved after creating binary cache on https://cachix.org
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: list flake
      run: nix flake show
      continue-on-error: true
    - name: build
      run: nix build -L --no-link .#cadquery-env
